<script>
    $(function () {
        $.ajax({
            url: "/Test/GetUniversities",
            data: param = "",
            success: function (data) {
                $(data).each(function (index, item) {
                    $("#UniviersitiesDropdown").append($('<option></option>').attr('value', JSON.stringify(item)).text(item.FullName));
                });
                $("#UniviersitiesDropdown").val("");
            },
            error: errorFunc
        });
    });
    
    function getFaculties(input) {
        $('#FacultiesDropdown').find('option').remove();
        $('#GetSpecialities').find('option').remove();
        $("#choosenSpeciality").text("");
        $.ajax({  
            url: "/Test/GetFaculties",
            data: { 'ID': JSON.parse(input).UniversityID },
            success: function (data) {
                $(data).each(function (index, item) {
                    $("#FacultiesDropdown").append($('<option></option>').attr('value', JSON.stringify(item)).text(item.Title));
                });
                $("#FacultiesDropdown").val("");
            },
            error: errorFunc
        });
    }
    function getSpecialities(input) {
        $('#GetSpecialities').find('option').remove();
        $("#choosenSpeciality").text("");
        $.ajax({
            url: "/Test/GetSpecialities",
            data: { 'ID': JSON.parse(input).FacultyID },
            success: function (data) {              
                $(data).each(function (index, item) {
                    $("#GetSpecialities").append($('<option></option>').attr('value', JSON.stringify(item)).text(item.Title));
                });
                $("#GetSpecialities").val("");
            },
            error: errorFunc
        });
    }
    function showSpeciality(speciality) {
        speciality = JSON.parse(speciality);
        $("#choosenSpeciality").text("You have choosen: " + speciality.Title + ", on " + speciality.FacultyTitle + ", in " + speciality.UniversityTitle);
    }
    function errorFunc(errorData) {
        alert('Ошибка' + errorData.responseText);

    }
</script>
<b>Choose university:</b>
<select id="UniviersitiesDropdown" onmousedown="this.text = '';" onchange="getFaculties(this.value);" class = "form-control"></select>
<br />
<b>Choose faculty:</b>
<select id="FacultiesDropdown" onmousedown="this.value='';" onchange="getSpecialities(this.value);" class = "form-control"></select>
<br />
<b>Choose speciality:</b>
<select id="GetSpecialities" onmousedown="this.value='';" onchange="showSpeciality(this.value);" class = "form-control"></select>
<br />
<p id="choosenSpeciality" style="font-weight:600"></p>

