
@{
    ViewBag.Title = "Tree";
}
<div class="col-sm-6">
    <button class="btn btn-success" onclick="GetSelectedItems()">Show seletcted items</button>
    <table class="table table-striped">
       
    </table>
</div>
<div class="col-sm-6">
    <div onclick="tree_toggle(arguments[0])">
        <ul class="Container">
            <li class="IsRoot ExpandClosed" id="[]">
                <input type="hidden" class="NumberOfChildrenValue" value="0" />
                <div class="Expand"></div>
                <div class="Content">
                    <label class="NodeCheckBoxClosed NodeCheckBoxLabel">
                        <input type="checkbox" class="NodeCheckBox" onclick="CheckBoxClicked(this)" />
                        Root
                    </label>
                </div>
                <ul class="Container"></ul>
            </li>
        </ul>
    </div>
</div>


